@media (min-width: 800px){
    .mis_cartas form {
        display: flex;
        flex-direction: row;
        height: 50vh;
        padding-top: 45px;
    }
    #hero p {
        padding: 0px 250px;
    }
    #hero h1 {
        padding: 15px 220px;
    }
    #caracteristicas h3 {
        padding: 20px 250px;
    }
    .principal p {
        padding: 20px 100px !important;
    }
    .video__blog1 > iframe {
        width: 550px;
        height: 250px;
    }
    .video__blog1 {
        height: 70vh;
        margin: 20px 150px !important;
    }
    .acordeon {
        margin: 0px 250px;
    }
    button:hover {
        background-color: #12a9a9;
        transform: scale(1.04,1.04);
    }
}
@media (max-width:575px){
    .principal p {
        font-size: 1.4em;
        line-height: 1.1;
        color: #282d31 !important;
    }
    .accordion {
        padding: 40px 0px;
    }
    .accordion-button {
        background-color: hsl(180, 77%, 43%);
        color: white;
        text-shadow: 1px 1px 1.5px black;
    }
}