@import "footer";
@import "media";
$background-primary: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); 
h1 { font-size: 3.2em;}
h2 { font-size: 2.7em;}
h3 { font-size: 2em;}
p { font-size: 1.5em;}
ul { list-style: none;}
li { font-size: 1.5em;}

.navbar-brand:hover {
    transform: scale(1.08,1.08);
}
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 80vh;
    background-image: $background-primary;
    background-size: cover;
    background-position: center center;
    color: white;
    padding: 200px 50px;
        h1 {
            text-shadow: 1px 1px 2px black;
            padding-bottom: 40px;
            line-height: 0.8;
        }
}
#nuestros-seguros {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
        h2 {
            @extend .texto-seguro;
            font-size: 3.3em;
        }
        .seguro {
            padding: 50px;
            margin: 25px;
            background-position: center center;
            background-size: cover;
            border-radius: 8px;
            box-shadow: 1px 1px 2px black;
                h3 {
                    color: white; 
                }
        }
}
.seguro:first-child {
            background-image: linear-gradient(0deg, 
            rgba(0,0,0,0.3), 
            rgba(0,0,0,0.3)
            ), url(../assets/autos.jpg);
}
.seguro:nth-child(2) {
            background-image: linear-gradient(0deg, 
            rgba(0,0,0,0.3), 
            rgba(0,0,0,0.3)
            ), url(../assets/salud.jpg);

}
.seguro:nth-child(3) {
            background-image: linear-gradient(0deg, 
            rgba(0,0,0,0.3), 
            rgba(0,0,0,0.3)
            ), url(../assets/hogar.jpeg);
}
button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 2px 2px 8px black;
    background-color: #12a9a9           
}
#identify {
    font-size: 1em;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 1px 1px 6px black;
    background-color: white;
    margin: 8px;
}
.javascrip {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color:#00bf72;
    color: white;
    text-shadow:1px 1px 2px black;
    padding: 5px 5px;
}
#caracteristicas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 200px 60px;
    text-align: center;
    background-image: $background-primary;
    color: white;
    text-shadow: 1px 1px 2px black;
            ul {
        text-align: start;
    }
            li {
        font-weight: bold;
        text-align: center;
        margin: 10px;
    }
            h2 {
        padding-bottom: 40px;
    }
            h3 {
        padding-top: 40px;
    }
}
.principal p {
    padding: 50px 5px;
    color: #109d9d;
    font-weight: bold;
}
.texto-seguro {
    padding: 50px 5px;
    color: #109d9d;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;

}
.lista-item {
    @extend .texto-seguro;
    font-size: 1.2em;
    line-height: 0,9;
}
.botonera {
    margin: 10px 0px;
}
.texto-contacto {
    @extend .texto-seguro;
}
.llamame {
    margin: 50px 0px;
    display:flex;
    align-items: center;
    justify-content: center;
        button {
            background-color: #008793 !important;
        }
}
.botonera-main {
    height: 25vh;
}
.enviar__datos input[type=text] {
    background-color:#e6f7ff;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.enviar__datos input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .enviar__datos  input[type=submit] {
    width: 100%;
    background-color: #109d9d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .enviar__datos input[type=submit]:hover {
    background-color: white;
    color: #00bfff;
  }
  
  .enviar__datos {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 40px;
  }
  .titulo__aclientes {
    text-align: center;
    color: #109d9d;
    text-shadow: 1px 1px 2px grey;
    padding: 50px;
    font-size: 3.5em;
  }
.video__blog1 {
    background-image: $background-primary;
    padding: 20px;
    border-radius: 7px;
    margin: 40px 0px;
}
.video__blog1 > iframe {
    padding: 10px 0px;
}
.principal h1 {
    padding: 50px 5px;
    color: #109d9d;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}
.wsp-icon img {
    width: 110px;
    height: auto;
    position: fixed;
    right: 15px;
    bottom: 30px;

}
