@import "footer";

h1 { font-size: 3.2em;}
h2 { font-size: 2.7em;}
h3 { font-size: 2em;}
p { font-size: 1.5em;}
ul { list-style: none;}
li { font-size: 1.5em;}

.navbar-brand:hover {
    transform: scale(1.08,1.08);
}
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 80vh;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size: cover;
    background-position: center center;
    color: white;
    padding: 200px 50px;
    
}
#hero h1 {
    text-shadow: 1px 1px 2px black;
    padding-bottom: 40px;
    line-height: 0.8;
}
#nuestros-seguros {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    
}
#nuestros-seguros h2 {
    color: #109d9d;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    font-size: 3.3em;
}
.seguro h3 {
    color: white;
}
#nuestros-seguros .seguro {
    padding: 50px;
    margin: 25px;
    background-position: center center;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 1px 1px 2px black;
}
.seguro:first-child {
            background-image: linear-gradient(0deg, 
            rgba(0,0,0,0.3), 
            rgba(0,0,0,0.3)
            ), url(../assets/autos.jpg);
}
.seguro:nth-child(2) {
            background-image: linear-gradient(0deg, 
            rgba(0,0,0,0.3), 
            rgba(0,0,0,0.3)
            ), url(../assets/salud.jpg);

}
.seguro:nth-child(3) {
            background-image: linear-gradient(0deg, 
            rgba(0,0,0,0.3), 
            rgba(0,0,0,0.3)
            ), url(../assets/hogar.jpeg);
}
button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 2px 2px 8px black;
    background-color: #12a9a9
}
button:hover {
    background-color: rgb(14, 143, 100);
    transform: scale(1.08,1.08);
}
#caracteristicas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 200px 60px;
    text-align: center;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: white;
    text-shadow: 1px 1px 2px black;
}
#caracteristicas ul {
    text-align: start;
}
#caracteristicas li {
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
#caracteristicas h2 {
    padding-bottom: 40px;
}
#caracteristicas h3 {
    padding-top: 40px;
}
.principal p {
    padding: 50px 5px;
    color: #109d9d;
    font-weight: bold;
}
@media (min-width: 800px){
    .mis_cartas form {
        display: flex;
        flex-direction: row;
        height: 50vh;
        padding-top: 45px;
    }
    #hero p {
        padding: 0px 250px;
    }
    #hero h1 {
        padding: 15px 220px;
    }
    #caracteristicas h3 {
        padding: 20px 250px;
    }
    .principal p {
        padding: 0px 200px;
    }
    .video__blog1 > iframe {
        width: 550px;
        height: 250px;
    }
    .video__blog1 {
        height: 70vh;
    }
}
@media (min-width:600px){
    #hero p {
        padding: 0px 150px;
    }
}
.texto-seguro {
    padding: 50px 5px;
    color: #109d9d;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;

}
.lista-item {
    padding: 50px 5px;
    color: #109d9d;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    font-size: 1.2em;
}
.botonera {
    margin: 10px 0px;
}
.texto-contacto {
    padding: 50px 5px;
    color: #109d9d;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}
.llamame {
    margin: 50px 0px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.botonera-main {
    height: 25vh;
}
.enviar__datos input[type=text] {
    background-color:#e6f7ff;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.enviar__datos input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .enviar__datos  input[type=submit] {
    width: 100%;
    background-color: #109d9d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .enviar__datos input[type=submit]:hover {
    background-color: white;
    color: #00bfff;
  }
  
  .enviar__datos {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 40px;
  }
  .titulo__aclientes {
    text-align: center;
    color: #109d9d;
    text-shadow: 1px 1px 2px grey;
    padding: 50px;
    font-size: 3.5em;
  }
.video__blog1 {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding: 20px;
    border-radius: 7px;
    margin: 40px 0px;
}
.principal h1 {
    padding: 50px 5px;
    color: #109d9d;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}
